In [152]:
import numpy as np
import pandas as pd

In [153]:
df=pd.DataFrame({'age':[23,34,21,23,45],'Pay':[11,20,8,12,30]})
df

   age  Pay
0   23   11
1   34   20
2   21    8
3   23   12
4   45   30

In [154]:
x=df.drop(['Pay'],axis=1)
y=df.Pay

In [155]:
x

   age
0   23
1   34
2   21
3   23
4   45

In [156]:
y

0    11
1    20
2     8
3    12
4    30
Name: Pay, dtype: int64

In [157]:
X1=20

In [158]:
X=np.array(x)

In [159]:
X

array([[23],
       [34],
       [21],
       [23],
       [45]], dtype=int64)

In [160]:
df['distance'] = np.abs(X1-X)
df

   age  Pay  distance
0   23   11         3
1   34   20        14
2   21    8         1
3   23   12         3
4   45   30        25

In [161]:
df=df.sort_values(by='distance',ascending=True)
df

   age  Pay  distance
2   21    8         1
0   23   11         3
3   23   12         3
1   34   20        14
4   45   30        25

In [162]:
a=df.iat[0,1]
a

8

In [163]:
print(f"The expected salary for the given age {X1} is :{a}")

The expected salary for the given age 20 is :8

In [ ]:
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import mean_squared_error

In [168]:
train_mape=[]
K_v=np.arange(1,7,2)
for k in K_v:
    model=KNeighborsRegressor(n_neighbors=k)
    model.fit(x,y)
    
    tra=model.predict(x)
    
    train_M=np.sqrt(mean_squared_error(y,tra))
    train_mape.append(train_M)
train_mape

[0.4472135954999579, 5.05744775334138, 7.95989949685296]

# KNN using Numpy and Pandas

In [169]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler,LabelEncoder
import numpy as np

In [170]:
train = pd.DataFrame(
        {'color':['Green', 'white', 'white','red'],
          'quality':['high fat', 'medium fat', 'medium fat', 'no fat'],
          'price':[33,30,40,66]  
         })

In [171]:
test = pd.DataFrame(
        {'color':['white'],
        'quality':['medium fat'],
        })

In [172]:
train_features = train.drop(['price'],axis=1)

In [173]:
train_label = train['price']

In [174]:
train_features_encoded = pd.DataFrame({})

In [175]:
label_dict = {}
for item in train_features.columns:
    label_dict[item] = LabelEncoder()
    train_features_encoded[item] = label_dict[item].fit_transform(train_features[item])

In [176]:
X_test_encoded = pd.DataFrame({})
for item in test.columns:
    X_test_encoded[item] = label_dict[item].transform(test[item])
total = []

In [177]:
b = np.array(X_test_encoded.iloc[0, : ])
for item in train_features_encoded.index: 
    dist = np.array(train_features_encoded.iloc[item, : ])
    total_x = np.square(b - dist).sum() 
    total.append(total_x)

In [178]:
train_features = pd.concat([train_features_encoded, train_label], axis=1)
train_features['eucledian_distance'] = total
train_features.sort_values(by='eucledian_distance').groupby(by='eucledian_distance')['price'].mean().reset_index()['price'][0]

35.0